<%= for {page, index} <- Enum.with_index(@pages) do %>
  <div class="box columns is-mobile is-vcentered">
    <div class="column">
      <%= live_render(@socket, page.component, id: index, session: %{"action" => "preview"}) %>
    </div>
    <%= live_patch to: page.route do %>
      <div class="column is-1">
        <div class="notification is-success">
          <p class="subtitle is-3">Visit</p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
