<button class="button is-primary is-large" phx-click="toggle_state">
  <span class="icon is-large">
    <i class="fas fa-<%= if @player.state == "playing", do: "pause", else: "play" %>"></i>
  </span>
</button>
<progress class="progress is-primary" value="<%= @player.position %>" max="<%= @player.track.length %>"><%= @player.position %></progress>
