<div class="notification is-primary has-text-centered">
  <p class="title is-5"><%= format(@time.hour) %>:<%= format(@time.minute) %>:<%= format(@time.second) %></p>
  <p class="subtitle is-5">
    <%= format(@time.day) %>/<%= format(@time.month) %>/<%= @time.year %>
  </p>
</div>
